<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/html-include-element"></script>
    <link rel="stylesheet" href="../static/output.css">
    <title>Title</title>
</head>

<body class="min-h-screen bg-zinc-900">
    <div class="grid grid-cols-12">
        <div class="invisible md:visible md:col-span-2 lg:col-span-3"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 bg-green-400">
            
            <!-- content -->

        </div>
        <div class="invisible md:visible md:col-span-2 lg:col-span-3"></div>
    </div>
</body>

</html>